.my-modal-create-album{
    .modal-content{
        background-color:#fff
    }
    .my-container{
        padding:36px
    }
    .my-title{
        text-align: center;
    }
    .my-button{
        text-align: right;
    }
}